<div>
    <h1 style="color:red; text-align:center;">Your product has been deleted by an administrator</h1>
    <br/>
    <div style="text-align:center;">
        <img src="cid:banner" alt="">
    </div>
    <h2>¡Hi!  Your product has been deleted by an administrator</h2>
    <p>Please contact the administrator for management</p>
   
</div>