<div>
    <h1 style="color:red; text-align:center;">¡Restore Password!</h1>
    <br/>
    <div style="text-align:center;">
        <img src="cid:banner" alt="">
    </div>
    <h2>¡Hi!  To reset your password, please access the following link</h2>
    <p>It is important that the new password is different from the current one</p>
    <div class="text-center text-lg-start mt-4 pt-2">
           <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
              id="restoredPasword"
            >RESTORE PASSWORD</button>
           </a>
          </div>
</div>