<div>
    <h1 style="color:red; text-align:center;">Your order has been accepted and processed successfully!</h1>
    <br />
    <div style="text-align:center;">
        <img src="cid:banner" alt="">
    </div>
    <h2>Congratulations!!

        Your purchase was made successfully, below we send the summary</h2>

    
    <ul>
        <h2>Ticket</h2>
        <li>Purchaser: {{purchaser}}</li>        
        <li>Code: {{code}}</li>
        <li>Amount: $ {{amount}}</li>
        <li>datetime: {{datetime}}</li>       
    </ul>
</div>