<div>
    <h1 style="color:red; text-align:center;">¡WELCOME!</h1>
    <br/>
    <div style="text-align:center;">
        <img src="cid:banner" alt="">
    </div>
    <h2>¡Hi {{user.name}}! tank you for register in our ecommerce</h2>
</div>