/* .logo{
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;  
}

.navbar {
  padding: 0;
} */




/* Contenedor principal del navbar */
#header {
  background-color: #4400A3;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Imagen/logo */
.logo {
  height: 60px;
}

/* Lista de navegación */
.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Cada ítem */
.navbar li {
  display: flex;
}

/* Estilos base para los enlaces (NavLink) */
.navbar .nav-link {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 16px;
  transition: color 0.3s;
}

/* Estilo activo */
.navbar .nav-link.active {
  color: #ffffff;
}
.navbar .nav-link.active:hover {
  color: #c7c7c7;
}
/* Estilo de contacto a la derecha */
.contacto-link {
  color: #0056ff;
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}
