<!-- Topbar Start -->
<div class="container-fluid">

    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex mb-3">
        <div class="col-lg-4">
            <a href="/" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">MK</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Rock</span>
            </a>
        </div>
        <!-- Profile-->
        
        <div class="col-lg-4 col-6 text-center">
            <div class="row shadow m-5">
                <h6>{{user.name}}</h6>
        
                <h7>Correo: {{user.email}} </h7>
                <div class="col-lg-12">
                    <h8 class="col-lg-12 col-12">Role : {{user.role}} </h8>
                    <a href="/changeRol">
        
                        <button class="col-lg-4 btn btn-info center my-2 mx-3 changesRol">Cambiar role</button>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="/cartsID" class="btn">
                        <i class="fas fa-shopping-cart text-primary fa-2x" style="font-size:30px"></i>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Your cart</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    {{#ifRoleIsPremium user.role}}
                    <a href="/createProducts" class="btn">
                        <i class="fa-brands fa-product-hunt text-primary fa-2x" style="font-size:30px"></i>
                        <p class="small fw-bold mt-2 pt-1 mb-0">create product</p>
                    </a>
                    {{/ifRoleIsPremium}}
                </div>
                <div class="col-lg-12">
                    <a href="/ticketId">
        
                        <button class="col-lg-12 btn btn-info center my-2 logoutContainer"><i
                                class="fa-regular fa-paste"></i>Tickets History</button>
                    </a>
                </div>
                <div class="col-lg-12">
                    <button class="col-lg-12 btn btn-warning center my-2 logoutContainer" id="loguotButton"><i
                            class="fa-solid fa-arrow-right-from-bracket">Logout</i>
                    </button>
                </div>
        
            </div>
        </div>
        <!-- Profile End -->

    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
                    href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
                    id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">

                        <a href="" class="nav-item nav-link">Shirts</a>
                        <a href="" class="nav-item nav-link">Jeans</a>

                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/products" class="nav-item nav-link active">Shop</a>
                            {{!-- <a href="detail.html" class="nav-item nav-link">Shop Detail</a> --}}
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i
                                        class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle"
                                    style="padding-bottom: 2px;">0</span>
                            </a>
                            {{!-- <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle"
                                    style="padding-bottom: 2px;">0</span>
                            </a> --}}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->



    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-12">
            <div class="col-lg-12 table-responsive mb-5">
                <form id="registerForm">


                    <div class="divider d-flex align-items-center my-4">
                        <h1 class="text-center fw-bold mx-3 mb-0">Product</h1>
                    </div>


                    <div class="form-outline mb-4">
                        <input type="text" name="title" class="form-control form-control-lg" placeholder="Title" />
                        <label class="form-label">Title:</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" name="description" class="form-control form-control-lg"
                            placeholder="Description" />
                        <label class="form-label">Description</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="Number" name="Price" class="form-control form-control-lg" placeholder="Price" />
                        <label class="form-label">Price</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" name="Thumbnail" class="form-control form-control-lg"
                            placeholder="Thumbnail" />
                        <label class="form-label">Thumbnail</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="text" name="Code" class="form-control form-control-lg" placeholder="Code" />
                        <label class="form-label" for="form3Example4">Code</label>
                    </div>

                    <div class="form-outline mb-5">
                        <label for="select">Select status:</label>
                        <select id="" class="form-select form-select-lg">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                    <div class="form-outline mb-3">
                        <input type="text" name="Stock" class="form-control form-control-lg" placeholder="Stock" />
                        <label class="form-label" for="form3Example4">Stock</label>
                    </div>



                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Create Product</button>


                    </div>

                </form>

            </div>

        </div>
    </div>
    <!-- Cart End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>



    <script src="js/main.js"></script>
    <script src="js/deleteProductCart.js"></script>
    <script src="js/ticket.js"></script>
    <script src="js/logout.js"></script>