<h1>Welcome to the project</h1>

<div class="container-fluid mb-30 mt-3 ">

  <div class="container-fluid mb-30 ">

    <div class="row align-items-center bg-light pt-2">
      <div class="col-lg-4">
        <a href="/" class="text-decoration-none">
          <span class="h1 text-uppercase text-primary bg-dark px-2">MK</span>
          <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Rock</span>
        </a>
      </div>

      {{#unless user}}
      <div class="col-lg-4 me-5 mt-3">
        <div class="btn-group">
          <button type="button" class="h1 text-uppercase text-primary bg-dark px-2 btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown">My Account</button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/login"><button class="dropdown-item" type="button">Sign in</button></a>
            <a href="/register"><button class="dropdown-item" type="button">Register</button>
            </a>
          </div>
        </div>
      </div>
      {{/unless}}
      <!-- Profile-->
      {{#if user}}
      <div class="col-lg-4 col-md-12  text-center py-3 py-lg-0 px-0 ">
        <div class="row shadow m-5">
          <h6>{{user.name}}</h6>

          <h7>Correo: {{user.email}} </h7>
          {{#ifRoleIsPremiumOrUser user.role }}
          <div class="col-lg-12">
            <h8 class="col-lg-12 col-12">Role : {{user.role}} </h8>
            <a href="/changeRol">

              <button class="col-lg-4 btn btn-info center my-2 changesRol">Cambiar role</button>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/cartsID" class="btn col-lg-4">
              <i class="fas fa-shopping-cart text-primary fa-2x" style="font-size:30px"></i>
              <p class="small fw-bold mt-2 pt-1 mb-0">Your cart</p>
            </a>
          </div>
          {{/ifRoleIsPremiumOrUser}}
          {{#ifRoleIsPremiumOrAdmin user.role}}
          <div class="col-lg-6">
            <a href="/createProducts" class="btn">
              <i class="fa-brands fa-product-hunt text-primary fa-2x" style="font-size:30px"></i>
              <p class="small fw-bold mt-2 pt-1 mb-0">create product</p>
            </a>

          </div>
          {{/ifRoleIsPremiumOrAdmin}}

          <div class="col-lg-12">
            <a href="/ticketId">

              <button class="col-lg-12 btn btn-info center my-2 logoutContainer"><i
                  class="fa-regular fa-paste"></i>Tickets
                History</button>
            </a>
          </div>
          <div class="col-lg-12">
            <button class="col-lg-12 btn btn-warning center my-2 logoutContainer" id="loguotButton"><i
                class="fa-solid fa-arrow-right-from-bracket">Logout</i>
            </button>
          </div>

          {{#ifRoleAdmin user.role}}
          <div class="col-lg-12">
            <a href="/admin">

              <button class="col-lg-12 btn btn-success center my-2 logoutContainer"><i
                  class="fa-regular fa-paste"></i>Admin
                panel</button>
            </a>

          </div>
          {{/ifRoleAdmin}}
        </div>
      </div>

      {{/if}}
    </div>
  </div>
</div>
<!-- Profile End -->
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30 m-3">
  <div class="container-fluid bg-dark mb-30 m-3">


    <div class="row px-xl-5">
      <div class="col-lg-3 d-none d-lg-block">
        <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
          href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
          <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
          <i class="fa fa-angle-down text-dark"></i>
        </a>
        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
          id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
          <div class="navbar-nav w-100">
            <a href="/products?category=remera" class="nav-item nav-link">Shirts</a>
            <a href="/products?category=pantalon" class="nav-item nav-link">Jeans</a>
          </div>
        </nav>
      </div>

      <div class="col-lg-9">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
          {{!-- <a href="" class="text-decoration-none d-block d-lg-none">
            <span class="h1 text-uppercase text-dark bg-light px-2">MK</span>
            <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Rock</span>
          </a> --}}
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/products" class="nav-item nav-link">Shop</a>

              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i
                    class="fa fa-angle-down mt-1"></i></a>
                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                  <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                </div>
              </div>

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->

<!-- Carousel Start -->
<div class="container-fluid m-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="img/ACDC.jpg" style="object-fit: cover;" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Rock T-shirts</h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat
                  diam stet. Sadips duo
                  stet amet amet ndiam elitr ipsum diam</p>
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="products">Shop
                  Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="img/rock.jpg" style="object-fit: cover;" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Women Rock T-shirts</h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat
                  diam stet. Sadips duo
                  stet amet amet ndiam elitr ipsum diam</p>
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="products">Shop
                  Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="img/carousel-3.jpg" style="object-fit: cover;" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Kids Rock T-shirts</h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat
                  diam stet. Sadips duo
                  stet amet amet ndiam elitr ipsum diam</p>
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="products">Shop
                  Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="img/offer-1.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="img/offer-2.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
      </div>
    </div>
  </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script src="js/logout.js"></script>