<section class="vh-100 m-5 ">
  <div class="container-fluid h-custom">
     <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="/" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">MK</span>
        <span
          class="h1 text-uppercase text-dark bg-primary px-2 ml-n1"
        >Rock</span>
      </a>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="img/login.jpg" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form  >
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start" id="github">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <a href="/api/sessions/github" >
                  <button type="button" class="btn btn-primary btn-floating mx-1 ">
                    <i class="fa-brands fa-github" ></i>
                  </button>
                </a>
              </div>
            </form> 
        <form id="loginForm" >

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input name="password" type="password" class="form-control form-control-lg" placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <a href="/restoreRequest" class="link-info">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">

            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Login</button>

            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
              <a href="/register" class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>

<script src="/js/login.js"></script>
<script src="/js/github.js"></script>