

<div>
    <h1>Log In</h1>

    <form id="loginForm">
   

        <label for="">Email</label>
        <input  name="email">


        <label for="">Password</label>
        <input name="password">

        <input type="submit">


    </form>

</div>


<script src="/js/login.js"></script>