 <div>
    {{#each allProducts}}
      <div class="col-3 card shadow center m-3">
        <p>
          {{this.title}}
        </p>
        <p>
          {{this.price}}
        </p>
      </div>
    {{/each}}
  </div>