<div class="container">

  <div class="row mx-3">
    <h1 class="col-12 text-center">Real Time Products</h1>
    <div id="homeContent">
      
      
    </div>
    <div id="productsContent"></div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>