<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="img/reset.jpg" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form id="restoreForm">
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <h1 class="border-primary-subtle border-bottom my-4 me-3">Restored
              password</h1>

          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              name="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
            <label class="form-label">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              name="password"
              type="password"
              
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <label class="form-label" for="form3Example4">New password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" id="restoredPasword"
            >Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>

<script src="/js/restorePassword.js"></script>