<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css" />
    {{! <link rel="stylesheet" href="styles/bootstrap-icons/bootstrap-icons.css"> }}

    <!--fontawesome Files -->
    <link
      href="styles/fontawesome/css/fontawesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="styles/fontawesome/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link href="img/coder.png" rel="icon" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="styles/style.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS y JS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    />
    {{! <script src="styles/registerStyle.js"></script> }}
    <title>{{title}}</title>
  </head>
  <body>

    {{{body}}}

  </body>
</html>