<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="styles/bootstrap-icons/bootstrap-icons.css"> --}}
    <link href="img/darth vader.png" rel="icon" />
    {{!-- <link rel="stylesheet" href="styles/style.css"> --}}
    {{!-- <script src="styles/registerStyle.js"></script> --}}
    <title>{{title}}</title>
</head>
    <body>

        {{{body}}}

    </body>
</html>